.img-abput {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    size: 18px;
    margin-top: 120px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left:  35px;
}
.font-head-about{
    font-family: Old Standard TT, TH Kodchasal, sans-serif;
    text-align: center;
    color: white;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black
}
.font-sub-about{
    font-family: Old Standard TT, TH Kodchasal, sans-serif;
    text-align: center;
    -webkit-text-stroke: 0.1px;
    // -webkit-text-stroke-color: white;
    font-size: 24px;
}