.bg{
    background-image: url(https://i.imgur.com/PvsRoEY.png);
    min-height: 800px;
    position: relative;
}
.icon{
    color: rgb(240, 84, 84);
    margin-top: 350px;
    margin-right: 400px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding: auto;
    text-align: center;
   
}
.fontheader{
    font-family: Komika Axis, TH Kodchasal, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    position: relative;
    margin-top: 20px;
    margin-left: -100px;
    margin-right: 500px;
    font-size: 100px;
    padding: 25px;
}
.fontsub{
    font-family: Komika Axis, TH Kodchasal, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    position: relative;
    // margin-top: 290px;
    margin-left: -100px;
    // margin-right: 500px;
    font-size: 45px;
    padding: 25px;
}
.img{
    position: relative;
    min-width: auto;
    min-height: auto;
    width: 300px;
    height: 250px;
    padding: 3px;;
    margin: auto;
    left: 500px;
    top: 210px;
    color: rgb(255, 251, 251);

}
