.fontheader-get{
    font-family: Komika Axis, TH Kodchasal, sans-serif;
    color: rgb(218, 246, 8);
    text-align: center;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    position: relative;
    margin-top: 20px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 25px;
    font-size: 30px;
    padding: 25px;
}
.fontsub-get{
    font-family: Komika Axis, TH Kodchasal, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    position: relative;
    // margin-top: 290px;
    margin-left: -100px;
    // margin-right: 500px;
    font-size: 45px;
    padding: 25px;
}
.bg-text{
    block-size: 25px;
}